@mixin font-family-style{
        font-family: "Bebas Neue", sans-serif;
        font-style: normal;
    }

@mixin fonts-size-weight($size, $weight){
    font-size: $size;
    font-weight: $weight;
}

@mixin font-family-style-montserrat{
    font-family: "Montserrat", sans-serif;
    font-style: normal
}

.title {
    @include font-family-style;
    text-align: right;
    color: $white;
    padding: 15rem 8rem 32rem 0;
    font-weight: 400;
        h1 {
            font-size: 14rem;
        }
    }
    .mainsubtitle {
        font-size: 3rem;
    }
.title_pages {
    @include font-family-style;
    text-align: center;
    @include fonts-size-weight(7rem, 400);
    color: $white;
    margin: 0 0 5 0;
}
.f_title {
    @include font-family-style-montserrat;
    font-optical-sizing: auto;
    @include fonts-size-weight(3rem, 800);
    color: $green;
    background-color: $white;
    text-align: right;
    text-transform: uppercase;
    padding: 0 1rem 1rem 0;
}
.flora {
    .f_title{
        text-align: left;
    }
}
.f_p, .wj_p {
    @include font-family-style;
    text-align: left;
    @include fonts-size-weight(2.3rem, 400);
    letter-spacing: 0.05rem;
    color: $green;
    background-color: $white;
    border-radius: 1rem;
}
.wj_p {
    margin: 3rem 8rem;
    padding: 2rem;
}