header {
    position: sticky;
    top: 0;
    z-index: 150;
    .nav-item {
        @include font-family-style-montserrat;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-optical-sizing: auto;
        @include fonts-size-weight(2rem, 800);
        padding: 0 2rem 0 1rem;
        .nav-link {
            text-transform: uppercase;
            text-decoration: none;
            color: $green;
            transition:0.3s ease-out;
            position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 0.3rem;
                    bottom: 0.5rem;
                    left: 0;
                    background-color: $orange;
                    transform-origin: bottom right;
                    transition: transform 0.4s ease-out;
                }
                &:hover::after{
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }
        .navbar-brand {
            img{
                width: 15rem;
                padding: 0;
                    &:hover {
                        transform: scale(1.1);
                    }
            }
        }
        .offcanvas-header{
            a {
                img {
                padding: 2rem;
                width: 15rem;
            }
            }
        }
        .offcanvas-body {
            .nav-item{
                padding-bottom: 1rem;
                z-index: 160;
            }
        }
        .navbar-toggler, .btn-close {
            border: none;
            font-size: 2.2rem;
            margin-right: 2rem;
        }