<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body class="main_body-2">
    <header>
      <nav class="navbar navbar-expand-xl sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"><img src="../assets/logo.png" class="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <a href="../index.html"><img src="../assets/logo.png" class="offcanvas-title" id="offcanvasNavbarLabel"></a>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link mx-lg-2" href="../views/flora-fauna.html">flora & fauna</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-lg-2" href="../views/waterfalls-jungle.html">waterfalls & jungles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-lg-2" href="../views/activities.html">activities</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-lg-2" href="../views/contact.html">contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <h1 class="title_pages" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="50">fauna</h1>
    <article class="ff_flex_container fauna">
        <section class="ff_flex" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="100">
            <img src="../assets/coati-fauna.jpg" class="f_img">
            <div>
                <h2 class="f_title" >COATI</h2>
                <p class="f_p">Iguazu coatis are omnivorous mammals native to South America. They are recognized for their long, ringed tails and feed on fruits, insects, and small animals. They live in social groups in wooded areas and are common in the vicinity of Iguazu Falls. <span class="mobile">Although they are not endangered, they face threats such as habitat loss and poaching.</span></p>
            </div>
        </section>
        <section class="ff_flex" data-aos="fade-right" data-aos-duration="2000" data-aos-offset="100">
            <img src="../assets/mono-fauna.jpg" class="f_img">
            <div>
                <h2 class="f_title">MONO CAI</h2>
                <p class="f_p">The red howler monkey, or red howler, is a South American primate known for its reddish fur and powerful howls. It lives in tropical forests, feeds on leaves and fruits, and spends most of its time in trees. <span class="mobile"> it is not endangered, its habitat faces threats from deforestation.</span></p>
            </div>
        </section>
        <section class="ff_flex" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="100">
            <img src="../assets/tucan-fauna.jpg" class="f_img">
            <div>
                <h2 class="f_title">TUCAN GRANDE</h2>
                <p class="f_p">The great toucan is a tropical bird with bright colors and a large, striking beak. It lives in the humid forests of Central and South America, feeding on fruits and occasionally insects. Its long and colorful beak is characteristic and serves to regulate its body temperature and as a tool for capturing food. </p>
            </div>
        </section>
    </article>
    <h2 class="title_pages" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="50">flora</h2>
    <article class="ff_flex_container flora">
        <section class="ff_flex_flora" data-aos="fade-right" data-aos-duration="2000" data-aos-offset="100">
            <img src="../assets/cedro-flora.jpg" class="f_img">
            <div>
                <h2 class="f_title">CEDRO MISIONERO</h2>
                <p class="f_p">
                    The Misiones cedar is a large tree mainly found in the Gran Chaco region and the Atlantic rainforest of South America. It is valued for its ornamental beauty and its importance in conserving biodiversity in its natural habitat.<span class="mobile"> However, deforestation and indiscriminate logging have led to its decline in some areas, raising concerns for its conservation.</span></p>
            </div>
        </section>
        <section class="ff_flex_flora" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="100">
            <img src="../assets/lapacho-flora.jpg" class="f_img">
            <div>
                <h2 class="f_title">LAPACHO</h2>
                <p class="f_p">The lapacho is a South American tree known for its beautiful colorful flowers and durable wood. It is valued in gardening for its ornamental value and in traditional medicine for its healing properties. It is native to tropical and subtropical regions of South America and is a symbol of resilience and beauty in the region.</p>
            </div>
        </section>
        <section class="ff_flex_flora" data-aos="fade-right" data-aos-duration="2000" data-aos-offset="100">
            <img src="../assets/palmito-flora.jpg" class="f_img">
            <div>
                <h2 class="f_title">PALMITO</h2>
                <p class="f_p">The Iguazu palm is a species of palm tree endemic to the region of the Iguazu Falls in South America. It stands out for its unique beauty and ecological importance as part of the subtropical rainforest ecosystem. <span class="mobile">However, it faces threats due to deforestation and unsustainable exploitation. Its conservation is crucial for preserving the unique biodiversity of the region.</span></p>
            </div>
        </section>
    </article>
    <footer>
        <p>Copyright reserved: Designed By Theo</p><br>
        <div class="footer_icons">
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></i></i></a>
        </div>
    </footer> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>